# Path to dotfiles directory relative to $HOME
dotfiles_dir = ".dotfiles"

[settings]
vars = [ "vars.toml" ]

[settings.dots]

[profiles.zsh.dots]
zshrc = { source = "zsh/zshrc", target = ".config/zsh/.zshrc" }
zshenv = { source = "zsh/zshenv", target = ".zshenv" }

[profiles.fish.dots]
fish = { source = "fish", target = ".config/fish" }

[profiles.starship.dots]
starship = { source = "starship/starship.toml", target = ".config/starship.toml" }

[profiles.tmux]
posthooks = [ "tmux source-file ~/.config/tmux/tmux.conf" ]

[profiles.tmux.dots]
tmux = { source = "tmux", target = ".config/tmux" }

[profiles.git.dots]
git = { source = "git/config", target = ".config/git/config" }

[profiles.ssh.dots]
ssh = { source = "ssh/config", target = ".ssh/config" }

[profiles.kde.dots]
dolphin = { source = "kde/dolphinui.rc", target = ".local/share/kxmlgui5/dolphin/dolphinui.rc" }
konsole = { source = "kde/konsoleui.rc", target = ".local/share/kxmlgui5/konsole/konsoleui.rc" }

[profiles.scripts.dots]
scripts = { source = "scripts", target = ".config/scripts" }

[profiles.kitty.dots]
kitty = { source = "kitty/kitty.conf", target = ".config/kitty/kitty.conf" }
kitty-theme = { source = "kitty/catppuccin-mocha.conf", target = ".config/kitty/catppuccin-mocha.conf" }

[profiles.wezterm.dots]
wezterm = { source = "wezterm/wezterm.lua", target = ".config/wezterm/wezterm.lua" }

[profiles.nvim]
vars = [ "vars.toml" ]

[profiles.nvim.dots]
nvim = { source = "nvim", target = ".config/nvim" }

[profiles.terminal]
extra_profiles = [ "wezterm", "kitty", "zsh", "fish", "starship", "tmux", "ssh", "git", "tofi", "scripts", "nvim" ]

[profiles.gsr.dots]
env = { source = "gpu-screen-recorder/gpu-screen-recorder.env", target = ".config/gpu-screen-recorder.env" }
service = { source = "gpu-screen-recorder/gsr-replay.service", target = ".config/systemd/user/gsr-replay.service" }
# Moved to scripts folder
# script = { source = "gpu-screen-recorder/save_replay", target = ".config/scripts/save_replay" }

[profiles.wallpaper.dots]
wallpaper = { source = "wallpapers/flow.png", target = ".config/wallpaper.png" }

# I'm unsure if linking from home is a good idea
[profiles.sddm.dots]
sddm = { source = "kde/sddm.conf", target = "/etc/sddm.conf.d/configuration.conf" }

[profiles.dunst]
vars = [ "vars.toml" ]

[profiles.dunst.dots]
dunst = { source = "dunst/dunstrc", target = ".config/dunst/dunstrc" }

[profiles.rofi.dots]
rofi = { source = "rofi/rofi.rasi", target = ".config/rofi/config.rasi" }

[profiles.tofi.dots]
tofi = { source = "tofi", target = ".config/tofi" }

[profiles.swaylock.dots]
swaylock = { source = "swaylock/config", target = ".config/sway-lock/config" }

[profiles.swayidle.dots]
swayidle = { source = "swayidle/config", target = ".config/swayidle/config" }

[profiles.waybar]
extra_profiles = [ "scripts" ]

[profiles.waybar.dots]
waybar = { source = "waybar", target = ".config/waybar" }

[profiles.eww]
extra_profiles = [ "scripts" ]

[profiles.eww.dots]
config = { source = "eww", target = ".config/eww" }

[profiles.hypr.dots]
hyprland = { source = "hypr", target = ".config/hypr" }

[profiles.hyprland]
extra_profiles = ["dunst", "tofi", "rofi", "waybar", "eww", "swaylock", "swayidle", "hypr", "wallpaper", "gsr"]
posthooks = [ "hyprctl reload" ]

[profiles.solid]
extra_profiles = [ "tofi", "wezterm", "git", "dunst", "starship", "nvim", "tmux", "ssh", "waybar", "wallpaper" ]

[profiles.liquid]
extra_profiles = [ "wezterm", "kitty", "zsh", "fish", "starship", "tmux", "ssh", "git", "scripts", "nvim", "kde", "dunst", "tofi", "rofi", "waybar", "eww", "swaylock", "swayidle", "hypr", "gsr", "wallpaper" ]
vars = [ "laptop-vars.toml" ]

[profiles.cs.dots]
cs = { source = "autoexec.cfg", target = ".local/share/Steam/steamapps/common/Counter-Strike Global Offensive/game/csgo/cfg/autoexec.cfg" }
